.CourseSearch {
  margin-bottom: 1em;
  overflow-x: scroll;
}

.CourseSearch .all-enabled {
  display: inline;
}

.CourseSearch .indent {
  margin-left: 1em;
}

.CourseSearch .indent > * {
  display: inline;
}

.CourseSearch .title {
  display: inline;
  padding: 0;
  margin: 0;
  padding-left: .5em;
}

.CourseSearch .search-wrapper {
  margin: 0 auto;
  width: 90%;
}

.CourseSearch .search-input {
  width: 100%;
  margin: auto;
  font-size: .9em;
  padding: .5em;
  border-radius: .2em;
  border: 1px solid grey;
}

.CourseSearch .arrow-down {
  width: 98%;
  text-align: center;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
  border: 1px solid grey;
  border-top: none;
  color: grey;
}

.CourseSearch .course-group {
  margin-left: 1.5em;
  display: grid;
  grid-auto-columns: max-content;
  grid-gap: 0;
  grid-template:
    "line line"
    "toggle info";
}

.CourseSearch .course-group hr {
  grid-area: line;
  width: 100%;
}

.CourseSearch .course-group input {
  grid-area: toggle;
}

.CourseSearch .course-info {
  grid-area: info;
  text-align: left;
}

.CourseSearch table {
  border-spacing: 0px 1em;
}

.CourseSearch .search-listing:hover td {
  cursor: pointer;
  position: relative;
  /* border-bottom: pink -1px solid; */
}

.CourseSearch .search-listing:hover td:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--dark-green);
  content: ' ';
}
